.DS_Store
example/ios/exampleWizDevTools.xcodeproj/xcuserdata/*
example/ios/exampleWizDevTools.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.7.0.js
